*{
    padding:0;
    margin:0;
}

body{
    margin:0;
    padding:0;
}
.logo{
    margin-left: 20px;
    width:120px;
    padding:10px;
    float: left;
    height: 70px;
    background-color: yellow;
    font-size:20px;
    box-shadow: 5px 5px 30px -5px;
    line-height: 90%;
    position: fixed;
    z-index:5 ;
}

.logo a{
    text-decoration: none;
    font-family:'Gill Sans';
   
}
.main-header{
    background-color: lightblue;
    width:100%;
    height:50px;
    margin-bottom:50px;
}

.main-header_nav{
    padding:12px;
    margin:0;
    display: flex;
}

.main-header_nav a{
    padding:15px;
    color:black;
}

.main-header_nav a:hover{
    color:yellow;
    background-color:gray;
    transition:0.5s;
    text-decoration: none;
    
}

.main-header_item-list{
    margin-left: 150px;
    display: flex;
    list-style:none;
}

.account-link{
    display: flex;
    list-style:none;
    position: absolute;
    right:20px;
}

.menu{
 display:none;
}

@media all and (max-width:925px){
    .menu{
       display:inline;
       position: fixed;
       right: 10px;
       top:9px;
       z-index:5;
       
    }
    .menu a{
        padding-top:13px;
        padding-bottom:20px;
        color:black;
        font-family:Arial;
    }
    .menu a:hover{
      
        background-color:gray;
        color:yellow;
    }
    .logo{
        float:none;
        display: flex;
        position:fixed;
      
    } 
    
    .main-header_nav{
        display: none;
        position: relative;
        z-index: 2;
    }

    .main-header_nav a{
        padding:10px;
        display:block;
        background-color:lightblue;
        width:100%;
        text-align: center;
    
    }
    .account-link{
        position:static;
        display: inline;
       
       
    }
    .main-header_item-list{
        display: inline;
    }
}





