{% extends "base.html" %}
{% block title %}Team FireCode{% endblock %}
{% block body %}
<header class="main-header">
    <div class='logo'>
        <a href="#">TEAM FIRECODE</a>
    </div>
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a href="#">Home</a>
            </li>
            <li class="main-header_item">
                <a href="#">Project</a>
            </li>
            <li class="main-header_item">
                <a href="#">Source code</a>
            </li>
            <li class="main-header_item">
                <a href="#">Blogs</a>
            </li>
            <li class="main-header_item">
                <a href="#">Become member</a>
            </li>
            <li class="main-header_item">
                <a href="#">About me</a>
            </li>
            <div class="account-btn">
                <li class="main-header_item">
                    <a href="#">Login</a>
                </li>
                <li class="main-header_item">
                    <a href="#">Register</a>
                </li> 
            </div>
        </ul>
        <div class="menu-btn">
            <li class="main-header_item">
                <a href="#">Menu</a>
            </li>
        </div>
    </nav>

</header>
{% endblock %}
