{% extends "base.html" %}
{% block title %}Team FireCode{% endblock %}
{% block head%}
<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $('.toggle-link').click(function(){
              $('.main-header_nav').slideToggle('slow')
          });
      });

  </script>
{% endblock %}
{% block body %}
<header class="main-header">
    <div class='logo'>
        <a href="#">TEAM FIRECODE</a>
    </div>
    <div class='menu'>
        <a class="toggle-link" href="#"><svg width="3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a>
</div>
  
   
    <nav class="main-header_nav ">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="main-header_item">
                <a href="#">Project</a>
            </li>
            <li class="main-header_item">
                <a href="#">Source code</a>
            </li>
            <li class="main-header_item">
                <a href="#">Blogs</a>
            </li>
            <li class="main-header_item">
                <a href="#">Become member</a>
            </li>
            <li class="main-header_item">
                <a href="#">About me</a>
            </li>
        </ul>
        <ul class='account-link'>
            <li class="main-header_item">
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li class="main-header_item">
                <a href="{% url 'register' %}">Register</a>
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
