{% extends "base.html" %}
{% block title %}Team FireCode - Register{% endblock %}
{% block body %}
{% include 'header.html'%}
<div class="container">
    <div class="row" id="form-row">
        <div class="col-md"> </div>
        <div class="con-md"></div>
        <div class="col-md-4" id="reg-page">
            {%if register_form.errors%}
                <div class="form_error">
                    <p>{{register_form.errors.username}}</p>
                    <p>{{register_form.errors.email}}</p>
                    <p>{{register_form.errors.re_password}}</p>
                </div>
               
                {%endif%}
            <form method="POST">
                {% csrf_token %}
                <legend>Register</legend><hr>
                <div class="form-group" >
                    {{register_form.username}}

                </div>
                <div class="form-group">
                    {{register_form.email}}
                  
                </div>
                <div class="form-group">
                    {{register_form.password}}
                </div>
                <div class="form-group">
                    {{register_form.re_password}}
                </div>
                
            
                <input type="submit" class="btn btn-outline-success" id="btn-form" value='Register'>
                <a href="#">    Forgot Password</a>
            </form>
        </div>  
    </div>
</div>
{% endblock %}